.foot {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #e6e6e6;
}

.foot > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.foot > ul > li > a > img {
  height: 40px;
}


body {
  height:100%;
  width:100%;
  /* background-color: #dd9999; */
  /* background-color: #E288A0; */
  font-family: arial, sans-serif;
  margin: 0;
  border-bottom: 0
}

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 20px 0;
  /* border: #a0a0a0 solid 1px; */
  background: #e6e6e6;
  width: 100%;
 }

.centered > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.block {
  text-align: center;
  /* background: #c0c0c0; */
  /* border: #a0a0a0 solid 1px; */
  margin: 20px;
}
 
.block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }


 /* MUDAR O PADDING CONFORME O TAMANHO DA PAGINA */
.main-page {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font: 17px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  background: white;
  /* padding: 0 30% 100px 30%; */
  max-width: 100%;
}

.main-page > h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
    /* padding-top: 30px; */
}

.main-page > hr {
  margin: 40px 0 30px 0; 
  }

.main-page > h2 {
font-weight: 300;
font-size: 20px;
line-height: 1.4em;
margin-top: 15px;
margin-bottom: 10px;
font-style: normal;

}

.main-page > p {
  /* display: block; */
  /* font-size: 2em; */
  /* font-weight: bold; */
  margin-bottom: 10px;
  /* padding-top: 30px; */
}

.main-page > .gradio-app {
  width: 500px;
  /* min-width: fit-content; */
  /* max-width: 100%; */
}


.mcti {
  width: 600px;
 }
 .lamfo {
width: 400px;
}
 .parceria {
   font-size: 1.3em;
 }



@media screen and (max-width: 400px) {

  .mcti {
   width: 300px;
  }
  .lamfo {
 width: 175px;
}
  .parceria {
    font-size: 1em;
  }
}



@media screen and (min-width: 401px) and (max-width: 880px) {

  .mcti {
   width: 350px;
  }
  .lamfo {
 width: 200px;
}
  .parceria {
    font-size: 1em;
  }
}



@media screen and (max-width: 881px) and (max-width: 1080px) {




.block {
  text-align: center;
  /* background: #c0c0c0; */
  /* border: #a0a0a0 solid 1px; */
  margin: 20px;
}
 
.block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }


 /* MUDAR O PADDING CONFORME O TAMANHO DA PAGINA */
.main-page {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font: 17px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  background: white;
  /* padding: 0 100px 100px 100px; */
  max-width: 100%;
}

.main-page > h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
    /* padding-top: 30px; */
}

.main-page > hr {
  margin: 40px 0 30px 0; 
  }

.main-page > h2 {
font-weight: 300;
font-size: 20px;
line-height: 1.4em;
margin-top: 15px;
margin-bottom: 10px;
font-style: normal;

}

.main-page > p {
  /* display: block; */
  /* font-size: 2em; */
  /* font-weight: bold; */
  margin-bottom: 10px;
  /* padding-top: 30px; */
}

.main-page > .gradio-app {
  width: 500px;
  /* min-width: fit-content; */
  /* max-width: 100%; */
}

}